---
import BaseLayout from '../layouts/BaseLayout.astro';
import CategoryItem from '../components/CategoryItem.astro';

import { supabase } from '../supabase';

const { data, error } = await supabase
  .from('categories')
  .select();

// const { data, error } = await supabase
//   .from('things')
//   .select();

// const { data, error } = await supabase
//   .from('tags')
//   .select('tag');

  // .eq("uuid", "3119e8b4-c628-4694-87be-ca5b291045d3")
  // .single();

if (error) {
  console.error(error)
}

// const uniqueTags = [...new Set(data.map((t) => t.tags).flat())];

---

<BaseLayout>

  
  <!-- {uniqueTags.map((t) => {
    <p>{t}</p>
  })} -->

  <!-- {uniqueTags} -->

  <!-- <script>
    console.log({uniqueTags});
  </script> -->

  <!-- <script>
    import { supabase } from '../supabase';
    const { data, error } = await supabase
      .from('tags')
      .select();
    data.map((t) => {
      console.log(t.tag);
    });
  </script> -->

  <!-- <div>
    {data.map((item) => (
      <p>{item.tags.map((t) => (
        <p>{t}</p>
      ))}</p>
    ))}
  </div> -->

  <div class="category-grid">
    {data.map((item) => (
      <CategoryItem category={item.category} has_image={item.has_image} />
      ))}
  </div>

</BaseLayout>
